n8n/telegram_workflow.json
{
    "name": "Telegram to LangGraph RAG",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "telegram-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-credentials",
                    "name": "Telegram account"
                }
            },
            "webhookId": "telegram-langgraph-webhook"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-has-text",
                            "leftValue": "={{ $json.message.text }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-text-only",
            "name": "Has Text?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://langgraph-service:8000/invoke",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ \"query\": $json.message.text }) }}",
                "options": {
                    "timeout": 60000
                }
            },
            "id": "langgraph-invoke",
            "name": "Invoke LangGraph",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                280
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "={{ $json.answer || 'Lo siento, no pude procesar tu consulta.' }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-reply-ok",
            "name": "Send Answer",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                900,
                280
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-credentials",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "⚠️ Ocurrió un error al procesar tu consulta. Inténtalo de nuevo más tarde.",
                "additionalFields": {}
            },
            "id": "telegram-reply-error",
            "name": "Send Error",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                900,
                480
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-credentials",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "ℹ️ Solo puedo procesar mensajes de texto. Envía tu consulta como texto.",
                "additionalFields": {}
            },
            "id": "telegram-reply-no-text",
            "name": "Not Text Reply",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                680,
                480
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-credentials",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Has Text?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Text?": {
            "main": [
                [
                    {
                        "node": "Invoke LangGraph",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Not Text Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invoke LangGraph": {
            "main": [
                [
                    {
                        "node": "Send Answer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "pinData": {}
}