n8n/telegram_workflow.json
{
    "name": "Telegram to LangGraph RAG (Polling)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "seconds",
                            "secondsInterval": 5
                        }
                    ]
                }
            },
            "id": "polling-trigger",
            "name": "Poll every 5s",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.telegram.org/bothttp://localhost:5678/webhook-test/868cbeb1-5b45-4832-9d6c-d2f3d1350ae0/webhook/getUpdates",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "offset",
                            "value": "={{ $json.update_id ? $json.update_id + 1 : 0 }}"
                        },
                        {
                            "name": "timeout",
                            "value": "1"
                        },
                        {
                            "name": "allowed_updates",
                            "value": "[\"message\"]"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-updates",
            "name": "Get Updates",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "result",
                "options": {}
            },
            "id": "split-updates",
            "name": "Split Updates",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.message }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "filter-messages",
            "name": "Filter Messages",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://langgraph-service:8000/invoke",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $json.message.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "langgraph-invoke",
            "name": "Invoke LangGraph",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $node['Filter Messages'].json.message.chat.id }}",
                "text": "={{ $json.answer }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-reply",
            "name": "Telegram Reply",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1340,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-credentials",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Poll every 5s": {
            "main": [
                [
                    {
                        "node": "Get Updates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Updates": {
            "main": [
                [
                    {
                        "node": "Split Updates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Updates": {
            "main": [
                [
                    {
                        "node": "Filter Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Messages": {
            "main": [
                [
                    {
                        "node": "Invoke LangGraph",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invoke LangGraph": {
            "main": [
                [
                    {
                        "node": "Telegram Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}